<!-- Category Tab Content -->
<div class="tab-content" id="categoryTabContent">
    {% include 'tabs/news_tab.html' %}
    {% include 'tabs/entertainment_tab.html' %}
    {% include 'tabs/variety_tab.html' %}
    {% include 'tabs/sports_tab.html' %}
    {% include 'tabs/kids_tab.html' %}
    {% include 'tabs/music_tab.html' %}
    {% include 'tabs/radio_tab.html' %}
    {% include 'tabs/lottery_tab.html' %}
    {% include 'tabs/parcel_tab.html' %}
    {% include 'tabs/lifestyle_tab.html' %}
</div>