<!-- Entertainment Tab Content -->
<div class="tab-pane fade" id="entertainment-category" role="tabpanel" aria-labelledby="entertainment-tab">
    <div class="row g-4">
        <div class="col-12">
            <div class="d-flex flex-wrap justify-content-center gap-2">
                <a class="btn btn-outline-danger" href="https://www.sanook.com/movie/" target="_blank">
                    <i class="bi bi-film me-1"></i>Sanook Movie
                </a>
                <a class="btn btn-outline-danger" href="https://www.mthai.com/entertainment" target="_blank">
                    <i class="bi bi-stars me-1"></i>MThai บันเทิง
                </a>
                <a class="btn btn-outline-danger" href="https://www.daradaily.com/" target="_blank">
                    <i class="bi bi-person-bounding-box me-1"></i>DaraDaily
                </a>
                <a class="btn btn-outline-danger" href="https://www.nationtv.tv/entertainment" target="_blank">
                    <i class="bi bi-camera-reels me-1"></i>Nation บันเทิง
                </a>
                <a class="btn btn-outline-danger" href="https://www.trueid.net/entertainment" target="_blank">
                    <i class="bi bi-play-btn me-1"></i>TrueID บันเทิง
                </a>
                <a class="btn btn-outline-danger" href="https://www.thairath.co.th/entertain" target="_blank">
                    <i class="bi bi-music-note-list me-1"></i>ไทยรัฐ บันเทิง
                </a>
                <a class="btn btn-outline-danger" href="https://www.matichon.co.th/entertainment" target="_blank">
                    <i class="bi bi-mic me-1"></i>มติชน บันเทิง
                </a>
                <a class="btn btn-outline-danger" href="https://www.khaosod.co.th/entertainment" target="_blank">
                    <i class="bi bi-emoji-laughing me-1"></i>ข่าวสด บันเทิง
                </a>
                <a class="btn btn-outline-danger" href="https://www.workpointtoday.com/entertainment/" target="_blank">
                    <i class="bi bi-tv me-1"></i>WorkpointToday
                </a>
                <a class="btn btn-outline-danger" href="https://www.gmm25.com/news/entertainment" target="_blank">
                    <i class="bi bi-music-player me-1"></i>GMM25 บันเทิง
                </a>
                <a class="btn btn-outline-danger" href="https://www.one31.net/news/entertainment" target="_blank">
                    <i class="bi bi-music-note-beamed me-1"></i>ONE31 บันเทิง
                </a>
                <a class="btn btn-outline-danger" href="https://www.bugaboo.tv/entertainment" target="_blank">
                    <i class="bi bi-film me-1"></i>Bugaboo บันเทิง
                </a>
                <a class="btn btn-outline-danger" href="https://www.majorcineplex.com/news" target="_blank">
                    <i class="bi bi-ticket-perforated me-1"></i>Major Cineplex
                </a>
                <a class="btn btn-outline-danger" href="https://www.sfcinemacity.com/news" target="_blank">
                    <i class="bi bi-ticket-detailed me-1"></i>SFCinema
                </a>
                <a class="btn btn-outline-danger" href="https://www.bioscopemag.com/" target="_blank">
                    <i class="bi bi-journal-richtext me-1"></i>Bioscope Magazine
                </a>
                <a class="btn btn-outline-danger" href="https://www.beartai.com/lifestyle/entertainment"
                    target="_blank">
                    <i class="bi bi-globe-asia-australia me-1"></i>Beartai บันเทิง
                </a>
            </div>
        </div>
    </div>
</div>