<!-- Cartoon TV Tab Content -->
<div class="tab-pane fade" id="football-tv" role="tabpanel" aria-labelledby="football-tv-tab">
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 justify-content-center">

        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/fff.png" class="card-img-top p-3" alt="ballzaa"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ballzaa</h6>
                    <a href="https://www.ballzaa1.com/doball_iframe_v1.php" target="_blank"
                        class="btn btn-outline-success btn-sm"><i class="bi bi-play-fill me-1"></i>คลิก</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/fff.png" class="card-img-top p-3" alt="soodaza"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">soodaza</h6>
                    <a href="https://www.soodaza.com/" target="_blank" class="btn btn-outline-success btn-sm"><i
                            class="bi bi-play-fill me-1"></i>คลิก</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/fff.png" class="card-img-top p-3" alt="duballhot"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">duballhot</h6>
                    <a href="https://duballhot.com/" target="_blank" class="btn btn-outline-success btn-sm"><i
                            class="bi bi-play-fill me-1"></i>คลิก</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/fff.png" class="card-img-top p-3" alt="dookeela"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">dookeela</h6>
                    <a href="https://dookeela2.live/" target="_blank" class="btn btn-outline-success btn-sm"><i
                            class="bi bi-play-fill me-1"></i>คลิก</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/fff.png" class="card-img-top p-3" alt="ballfree"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ballfree</h6>
                    <a href="https://www.movefreethailand.com/" target="_blank"
                        class="btn btn-outline-success btn-sm"><i class="bi bi-play-fill me-1"></i>คลิก</a>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/fff.png" class="card-img-top p-3" alt="dooball"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">dooball</h6>
                    <a href="https://www2.xn--72czaud0ezbn4b8de.com/live" target="_blank"
                        class="btn btn-outline-success btn-sm"><i class="bi bi-play-fill me-1"></i>คลิก</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/fff.png" class="card-img-top p-3" alt="goaldaddyth"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">goaldaddyth</h6>
                    <a href="https://www.goaldaddyth.com/" target="_blank" class="btn btn-outline-success btn-sm"><i
                            class="bi bi-play-fill me-1"></i>คลิก</a>
                </div>
            </div>
        </div>




    </div>
</div>