<!-- Music Tab Content -->
<div class="tab-pane fade" id="music-category" role="tabpanel" aria-labelledby="music-tab">
    <div class="row g-4">
        <!-- Music Links -->
        <div class="col-12">
            <div class="d-flex flex-wrap justify-content-center gap-2">
                <a class="btn btn-outline-danger" href="https://www.sanook.com/music/" target="_blank">
                    <i class="bi bi-music-note-beamed me-1"></i>Sanook เพลง
                </a>
                <a class="btn btn-outline-danger" href="https://music.kapook.com/" target="_blank">
                    <i class="bi bi-music-note-list me-1"></i>Kapook เพลง
                </a>
                <a class="btn btn-outline-danger" href="https://music.youtube.com/" target="_blank">
                    <i class="bi bi-youtube me-1"></i>YouTube Music
                </a>
                <a class="btn btn-outline-danger" href="https://open.spotify.com/" target="_blank">
                    <i class="bi bi-headphones me-1"></i>Spotify
                </a>
                <a class="btn btn-outline-danger" href="https://music.apple.com/th/browse" target="_blank">
                    <i class="bi bi-apple me-1"></i>Apple Music (TH)
                </a>
                <a class="btn btn-outline-danger" href="https://www.joox.com/th/" target="_blank">
                    <i class="bi bi-play-btn me-1"></i>JOOX Thailand
                </a>
                <a class="btn btn-outline-danger" href="https://www.billboard.com/charts/" target="_blank">
                    <i class="bi bi-graph-up me-1"></i>Billboard Charts
                </a>
                <a class="btn btn-outline-danger" href="https://soundcloud.com/" target="_blank">
                    <i class="bi bi-soundwave me-1"></i>SoundCloud
                </a>
            </div>
        </div>
    </div>
</div>