<!-- Radio Tab Content -->
<div class="tab-pane fade" id="radio-category" role="tabpanel" aria-labelledby="radio-tab">
    <div class="row g-4">
        <div class="col-12">
            <div class="d-flex flex-wrap justify-content-center gap-2">
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/cool-93" target="_blank">
                    <i class="bi bi-thermometer-sun me-1"></i>COOL Fahrenheit 93
                </a>
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/greenwave" target="_blank">
                    <i class="bi bi-music-note-list me-1"></i>Green Wave 106.5
                </a>
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/eazy-fm" target="_blank">
                    <i class="bi bi-music-note-beamed me-1"></i>Eazy FM 105.5
                </a>
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/flex-1045-fm" target="_blank">
                    <i class="bi bi-lightning-charge me-1"></i>FLEX 104.5
                </a>
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/efm" target="_blank">
                    <i class="bi bi-soundwave me-1"></i>EFM 94.0
                </a>
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/hitz-955" target="_blank">
                    <i class="bi bi-lightning-charge me-1"></i>HITZ 955
                </a>
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/met-107" target="_blank">
                    <i class="bi bi-broadcast me-1"></i>Met 107 FM
                </a>
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/smart-news" target="_blank">
                    <i class="bi bi-newspaper me-1"></i>90.5 Smart News
                </a>
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/fm-965" target="_blank">
                    <i class="bi bi-journal-richtext me-1"></i>FM 96.5 Thinking Radio
                </a>
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/fm99" target="_blank">
                    <i class="bi bi-broadcast me-1"></i>FM 99 Active Radio
                </a>
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/js100" target="_blank">
                    <i class="bi bi-geo-alt me-1"></i>JS100 Radio
                </a>
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/fm91" target="_blank">
                    <i class="bi bi-traffic-cone me-1"></i>FM91 Trafficpro
                </a>
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/nbt-radio-thailand-88-fm"
                    target="_blank">
                    <i class="bi bi-broadcast-pin me-1"></i>NBT Radio Thailand 88 FM
                </a>
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/smooth-fm-1055" target="_blank">
                    <i class="bi bi-music-note-beamed me-1"></i>Smooth FM 105.5
                </a>
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/935-top-radio-fm" target="_blank">
                    <i class="bi bi-music-note me-1"></i>93.5 Top Radio FM
                </a>
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/ltmfm95" target="_blank">
                    <i class="bi bi-music-note-list me-1"></i>FM 95 ลูกทุ่งมหานคร
                </a>
                <a class="btn btn-outline-danger" href="https://www.radio-thai.com/90-rakthai" target="_blank">
                    <i class="bi bi-heart-fill me-1"></i>90 ลูกทุ่ง รักไทย
                </a>
            </div>
        </div>
    </div>
</div>