<!-- Thai TV Tab Content -->
<div class="tab-pane fade show active" id="thai-tv" role="tabpanel" aria-labelledby="thai-tv-tab">
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 justify-content-center">

        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/3hd.png" class="card-img-top p-3" alt="ช่อง 3 HD"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ช่อง 3 HD</h6>
                    <p>3 HD</p>
                    <a href="https://ch3plus.com/live" target="_blank" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/3hd.png" class="card-img-top p-3" alt="ช่อง 3 HD"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ช่อง 3 HD</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-th/live/ch3-hd" class="btn btn-outline-primary btn-sm"
                        target="_blank"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/3hd.png" class="card-img-top p-3" alt="ช่อง 3 HD"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ช่อง 3 HD</h6>
                    <p>TV HUB</p>
                    <a href="/live/ch3" class="btn btn-outline-primary btn-sm" target="_blank"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/channel5.png" class="card-img-top p-3" alt="ช่อง 5 HD"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ช่อง 5 HD</h6>
                    <p>ททบ 5</p>
                    <a href="https://thaitv5hd.com/web/live.php" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/channel5.png" class="card-img-top p-3" alt="ช่อง 5 HD"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ช่อง 5 HD</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-th/live/ch5" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/channel5.png" class="card-img-top p-3" alt="ช่อง 5 HD"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ช่อง 5 HD</h6>
                    <p>TV HUB</p>
                    <a href="/live/ch5" target="_blank" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/ch7-hd.png" class="card-img-top p-3" alt="ช่อง 7 HD"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ช่อง 7 HD</h6>
                    <p>TV HUB</p>
                    <a href="/live/ch7" class="btn btn-outline-primary btn-sm" target="_blank"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/ch7-hd.png" class="card-img-top p-3" alt="ช่อง 7 HD"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ช่อง 7 HD</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-th/live/ch7-hd" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/ch7-hd.png" class="card-img-top p-3" alt="ช่อง 7 HD"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ช่อง 7 HD</h6>
                    <p>ช่อง 7</p>
                    <a href="https://www.ch7.com/live.html" target="_blank" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/mcot-hd.png" class="card-img-top p-3" alt="MCOT HD"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">MCOT HD</h6>
                    <p>MCOT</p>
                    <a href="https://tv.mcot.net/mcothd" target="_blank" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/mcot-hd.png" class="card-img-top p-3" alt="MCOT HD"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">MCOT HD</h6>
                    <p>TrueID</p>
                    <a href="https://tv.mcot.net/mcothd" target="_blank" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/mcot-hd.png" class="card-img-top p-3" alt="MCOT HD"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">MCOT HD</h6>
                    <p>TV HUB</p>
                    <a href="/live/mcot" target="_blank" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/thaipbs.png" class="card-img-top p-3" alt="ไทยพีบีเอส"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ไทยพีบีเอส</h6>
                    <p>Thai PBS</p>
                    <a href="https://www.thaipbs.or.th/live" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/thaipbs.png" class="card-img-top p-3" alt="ไทยพีบีเอส"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ไทยพีบีเอส</h6>
                    <p>TV HUB</p>
                    <a href="/live/thaipbs" class="btn btn-outline-primary btn-sm" target="_blank"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/thaipbs.png" class="card-img-top p-3" alt="ไทยพีบีเอส"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ไทยพีบีเอส</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-th/live/thaipbs" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/nbt.png" class="card-img-top p-3" alt="NBT2HD"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">NBT2HD</h6>
                    <p>TV HUB</p>
                    <a href="https://tv.trueid.net/th-th/live/nbt" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/nbt.png" class="card-img-top p-3" alt="NBT2HD"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">NBT2HD</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-th/live/nbt" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <!-- NBT Official -->
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/nbt.png" class="card-img-top p-3" alt="NBT2HD"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">NBT2HD</h6>
                    <p>Official</p>
                    <a href="https://nbt2hd.prd.go.th/live" target="_blank" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/hd-thairath.png" class="card-img-top p-3" alt="Thairath TV"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">Thairath TV</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-th/live/thairattv" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <!-- Thairath TV Official -->
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/hd-thairath.png" class="card-img-top p-3" alt="Thairath TV"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">Thairath TV</h6>
                    <p>Official</p>
                    <a href="https://www.thairath.co.th/tv/live" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <!-- PPTV HD 36 -->
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/hd-pptv.png" class="card-img-top p-3" alt="PPTV HD 36"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">PPTV HD 36</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-th/live/pptv-hd-36" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <!-- PPTV Official -->
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/hd-pptv.png" class="card-img-top p-3" alt="PPTV HD 36"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">PPTV HD 36</h6>
                    <p>Official</p>
                    <a href="https://www.pptvhd36.com/live" target="_blank" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <!-- MONO29 -->
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/hd-mono.png" class="card-img-top p-3" alt="MONO29"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">MONO29</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-th/live/mono29" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <!-- MONO29 Official -->
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/hd-mono.png" class="card-img-top p-3" alt="MONO29"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">MONO29</h6>
                    <p>Official</p>
                    <a href="https://mono29.com/livetv" target="_blank" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <!-- ONE31 -->
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/hd-gmmone.png" class="card-img-top p-3" alt="ONE 31"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ONE 31</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-th/live/one31" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <!-- ONE31 Official -->
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/hd-gmmone.png" class="card-img-top p-3" alt="ONE 31"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ONE 31</h6>
                    <p>Official</p>
                    <a href="https://www.one31.net/live" target="_blank" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <!-- ช่อง 8 -->
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/hd-ch8.png" class="card-img-top p-3" alt="ช่อง 8"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ช่อง 8</h6>
                    <p>Official</p>
                    <a href="https://www.thaich8.com/live" target="_blank" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <!-- GMM25 -->
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/sd-gmm.png" class="card-img-top p-3" alt="GMM25"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">GMM25</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-th/live/gmm25" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <!-- Amarin TV -->
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/amarin.jpg" class="card-img-top p-3" alt="Amarin TV"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">Amarin TV</h6>
                    <p>Official</p>
                    <a href="https://www.amarintv.com/live" target="_blank" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/amarin.jpg" class="card-img-top p-3" alt="Amarin TV"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">Amarin TV</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-th/live/amarintv-hd" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <!-- Nation TV -->
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/nation.png" class="card-img-top p-3" alt="Nation TV"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">Nation TV</h6>
                    <p>Official</p>
                    <a href="https://www.nationtv.tv/live" target="_blank" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <!-- Workpoint TV -->
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/workpoint.png" class="card-img-top p-3" alt="Workpoint TV"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">Workpoint TV</h6>
                    <p>Official</p>
                    <a href="https://www.workpointtv.com/live" target="_blank" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/workpoint.png" class="card-img-top p-3" alt="Workpoint TV"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">Workpoint TV</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-th/live/workpointtv" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <!-- True4U -->
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/true4u.png" class="card-img-top p-3" alt="True4U"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">True4U</h6>
                    <p>Official</p>
                    <a href="https://www.true4u.com/live" target="_blank" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <!-- Spring News -->
        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/mcot-hd.png" class="card-img-top p-3" alt="Spring News"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">Spring News</h6>
                    <p>Official</p>
                    <a href="https://www.springnews.co.th/live" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/top news.png" class="card-img-top p-3" alt="Top News"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">Top News</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-en/live/tid-top-news" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/news1.png" class="card-img-top p-3" alt="News1"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">News1</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-en/live/news-newss1" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/JKN18.png" class="card-img-top p-3" alt="JKN 18"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">JKN 18</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-en/live/news-newss1" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/tt.png" class="card-img-top p-3" alt="ไทไชโย"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ไทไชโย</h6>
                    <p>Official</p>
                    <a href="https://thaichaiyo.tv/" target="_blank" class="btn btn-outline-primary btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/tt.png" class="card-img-top p-3" alt="ไทไชโย"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ไทไชโย</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-en/live/thaichaiyo" target="_blank"
                        class="btn btn-outline-primary btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/tsports.png" class="card-img-top p-3" alt="T Sports"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">T Sports</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-en/live/t-sports-7-sd" target="_blank"
                        class="btn btn-outline-success btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/Cool Channel.png" class="card-img-top p-3" alt="Cool Channel"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">Cool Channel</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-en/live/cool-ch" target="_blank"
                        class="btn btn-outline-success btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/Cool Channel.png" class="card-img-top p-3" alt="Cool Channel"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">Cool Channel</h6>
                    <p>Official</p>
                    <a href="https://cool-channel.com/" target="_blank" class="btn btn-outline-success btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/altv4-logo.png" class="card-img-top p-3" alt="ALTV"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">ALTV</h6>
                    <p>TrueID</p>
                    <a href="https://tv.trueid.net/th-th/live/altv" target="_blank"
                        class="btn btn-outline-success btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/mix.png" class="card-img-top p-3" alt="Mix Major Channel"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">Mix Major Channel</h6>
                    <p>TV</p>
                    <a href="https://looxtv.tv/Mix%20Major%20Channel" target="_blank"
                        class="btn btn-outline-success btn-sm"><i class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>




        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/Parliament.png" class="card-img-top p-3" alt="Parliament"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">Parliament</h6>
                    <p>TV</p>
                    <a href="https://looxtv.tv/Parliament" target="_blank" class="btn btn-outline-success btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm text-center">
                <img src="/static/img/TNN.png" class="card-img-top p-3" alt="TNN"
                    style="height: 80px; object-fit: contain;">
                <div class="card-body">
                    <h6 class="card-title">TNN</h6>
                    <p>TV</p>
                    <a href="https://looxtv.tv/TNN%2024" target="_blank" class="btn btn-outline-success btn-sm"><i
                            class="bi bi-play-fill me-1"></i>ดูสด</a>
                </div>
            </div>
        </div>






    </div>
</div>