<!-- Variety Tab Content -->
<div class="tab-pane fade" id="variety-category" role="tabpanel" aria-labelledby="variety-tab">
    <div class="row g-4">
        <!-- Variety Show Links -->
        <div class="col-12 mt-3">
            <div class="d-flex flex-wrap justify-content-center gap-2">
                <a class="btn btn-outline-primary" href="https://www.workpointtv.com/programs/" target="_blank">
                    <i class="bi bi-tv me-1"></i>Workpoint วาไรตี้
                </a>
                <a class="btn btn-outline-primary" href="https://www.gmm25.com/programs/variety" target="_blank">
                    <i class="bi bi-tv me-1"></i>GMM25 วาไรตี้
                </a>
                <a class="btn btn-outline-primary" href="https://www.one31.net/programs/variety" target="_blank">
                    <i class="bi bi-tv me-1"></i>ONE31 วาไรตี้
                </a>
                <a class="btn btn-outline-primary" href="https://www.ch3plus.com/variety" target="_blank">
                    <i class="bi bi-tv me-1"></i>ช่อง 3 วาไรตี้
                </a>
                <a class="btn btn-outline-primary" href="https://www.bugaboo.tv/variety" target="_blank">
                    <i class="bi bi-tv me-1"></i>ช่อง 7 วาไรตี้
                </a>
                <a class="btn btn-outline-primary" href="https://trueid.net/variety" target="_blank">
                    <i class="bi bi-tv me-1"></i>TrueID วาไรตี้
                </a>
            </div>
        </div>
    </div>
</div>