<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">TVHUB.ONLINE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">หน้าแรก</a></li>
                <li class="nav-item"><a class="nav-link" href="/reviews">รีวิวหนัง</a></li>
                <li class="nav-item"><a class="nav-link" href="/horoscope/">ดูดวง</a></li>
            </ul>
        </div>
    </div>
</nav>